// * BUTTONS *
// --------------------------------------------------

// DEFAULT VARIABLES
//
// DO NOT ALTER!!!
// -------------------------

$button-base-size: 10px !default;

$button-font-weight: bold !default;
$button-background-color: $color-medium !default;
$button-color: $color-lightest !default;
$button-border-radius: $base-radius !default;

// MIXINS
// --------------------------------------------------

@mixin button-style($bg: $button-background-color, $color: $button-color ) {
	background-color: $bg;
	color: $color;
	&:hover {
		background-color: darken($bg, 20)
	}
}

// STYLES
// --------------------------------------------------

// Colors
// -------------------------

.#{$ui-prefix}-button {
	display: inline-block;
	white-space: nowrap;
	@include rem('padding', 0 ms($button-base-size, 1));
	@include rem('margin-bottom', ms($button-base-size, -1));
	line-height: 2.75;
	text-decoration: none;
	font-weight: $button-font-weight;
	border-radius: $button-border-radius;

	@include button-style();

	// Hover

	&,
	&:hover {
		text-decoration: none;
	}

	&:active,
	&:focus {
		outline: none;
	}

	// Button Variations

	&.primary 	{ @include button-style($color-primary); }
	&.secondary { @include button-style($color-secondary); }
	&.tertiary  { @include button-style($color-tertiary); }
}

// Size
// -------------------------

// Fluid
//
// Stretches to fit the container
//
// [1] Removes any potential width and padding conflicts

.#{$ui-prefix}-button.fluid {
	display: block;
	width: 100%;
	text-align: center;
	padding: 0; // [1]
}

.#{$ui-prefix}-button {
	&.micro  {
		@include rem('padding', 0 ms($button-base-size, 0));
		line-height: 2;
	}
	&.tiny 	 {
		@include rem('padding', 0 ms($button-base-size * 1.25, 1));
		line-height: 2.25;
	}
	&.small  {
		@include rem('padding', 0 ms($button-base-size * 1.75, 1));
		line-height: 2.5;
	}
	&.medium {
		@include rem('padding', 0 ms($button-base-size * 1.5, 2));
	}
	&.large  {
		@include rem('padding', 0 ms($button-base-size * 1.25, 3));
	}
	&.xl 	 {
		@include rem('padding', 0 ms($button-base-size * 1.5, 3));
	}
	&.xxl 	 {
		@include rem('padding', 0 ms($button-base-size * 1.75, 3));
	}
	&.xxxl 	 {
		@include rem('padding', 0 ms($button-base-size * 1.5, 4));
	}
	&.huge 	 {
		@include rem('padding', 0 ms($button-base-size * 1.25, 5));
	}
}
