doctype html
html
	head

		//- Head data per page
		//- Useful for the page title
		block head

		//- Default Head Structure
		include ../include/document_head

	body

		<!--[if lt IE 8]>
		p.browsehappy
			| You are using an <strong>outdated</strong> browser.
			| Please <a href="http://browsehappy.com/">upgrade your browser</a>
			| to improve your experience.
		<![endif]-->

		.mw.wrapper
			//- Main Content Area
			block content
