doctype html
html
	head

		//- Head data per page
		//- Useful for the page title
		block head

		//- Default Head Structure
		include ../include/document_head

	body

		include ../include/document_body_top

		.mw-wrapper
			.mw-row
				.large-12
					//- Header
					block header
			.mw-row
				.large-3
					//- Sidebar
					block sidebar
				.large-9
					//- Main Content Area
					block content