extends layout/sidebar-left

block head
    title Documentation - Minnow CSS

block header

    include include/document_body_top

block content

    // #docs-extras
    #docs-extras.mw-row
        .large-12.small-12
        h1 Extras
        h2 School of Minnows
        p.subheader
            | This is an add-on to Minnow CSS for common patterns and components. I did not feel these were crucial to the core of Minnow, therefore there are packaged separately.
        p
            | Note:
            em School of Minnows must be imported after Minnow if using Sass (scss).

            include include/school/badges

    // #docs-extras
block sidebar
    include include/docs/sidebar
