doctype html
html
	head

		//- Head data per page
		//- Useful for the page title
		block head

		//- Default Head Structure
		include ../include/document_head

	body

		block header

		.mw-wrapper
			//- Main Content Area
			block content

		include ../include/footer
