//- For legacy Internet Explorer
//-
<!--[if lt IE 8]>
p.browsehappy
	| You are using an <strong>outdated</strong> browser.
	| Please <a href="http://browsehappy.com/">upgrade your browser</a>
	| to improve your experience.
<![endif]-->

// Site Header

header.header
	.mw-wrapper
		.mw-row
			.small-12
				h1.site-title
					a(href="index.html") Minnow CSS

