footer.footer
	.mw-wrapper
		.mw-row
			.small-12.large-8
				p.copyright
					| Created and maintained by Aaron Mazade.
			.small-12.large-4
				iframe(src='http://ghbtns.com/github-btn.html?user=ulinaaron&repo=minnow-css&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='110', height='20')
