@import "../../../../src/scss/minnow";
@import "../../../../src/scss/school/school";

// Backgrounds

%background-fixed {
    background-attachment: fixed;
}

%background-pattern-1 {
    background-image: url("../img/congruent_pentagon.png");
}

// Text Colors

.text-light  	{ color: $color-light; }
.text-lighter   { color: $color-lighter; }
.text-lightest  { color: $color-lightest; }
.text-medium 	{ color: $color-medium; }
.text-dark   	{ color: $color-dark; }
.text-darker   	{ color: $color-darker; }
.text-darkest   { color: $color-darkest; }

// Header

header.header {
    background-color: $color-darkest;
    @extend %background-pattern-1;
    @include rem('margin-bottom', ms($base-font-size, 1));
    @include rem('padding', ms($base-font-size, 2) 0);
}

.site-title {
    margin: 0;
    a {
        color: $color-lightest;
        text-decoration: none;
    }
}

.site-title.hero {
    @include rem('margin-bottom', ms($base-font-size, 1));
}

// Footer
footer.footer {
    background-color: $color-tertiary;
    @extend %background-pattern-1;
    @include rem('margin-top', ms($base-font-size, 1));
    @include rem('padding', ms($base-font-size, 2) 0);
    color: $color-lightest;
}

.copyright {
    margin: 0;
}

/* Menus */

.#{$ui-prefix}-menu {
    list-style-type: none;
    padding: 0;
}

// Pills

%pill-style {
    text-decoration: none;
    background: $color-primary;
    color: $color-lightest;
    border-radius: $base-radius;
}

.#{$ui-prefix}-menu.pill li a{
    &:hover {
        @extend %pill-style;
    }
}

// Menu Stacked

.#{$ui-prefix}-menu.stacked {
    li {
        position: relative;
    }
    li>a {
        display: block;
        @include rem('padding', 2px 10px);
    }
}
