<!-- .docs.grid -->
<div id="docs.grid" class="mw row">
	<div class="large-12">
		<h4>Grid</h4>

		<p>The Minnow grid is small yet highly powerful. It is responsive and can be used in full-width fluid layouts. If you would like to have a fixed-width container you can use the <code>.mw.wrapper</code> classes.</p> Columns can also be nested but the inner-gutters will not be cleared automatically.

		<table class="mw table fluid">
	        <thead>
	            <tr>
	                <th>Class</th>
	                <th>Description</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td><code>.mw.row</code></td>
	                <td>Add this class to a <code>&lt;div&gt;</code> element to define the row. Necessary for all columns.</td>
	            </tr>
	            <tr>
	                <td><code>.mw.row.gutterless</code></td>
	                <td>Clears the left and right padding on the first and last columns.</td>
	            </tr>
	        </tbody>
    	</table>
	</div>
</div>
<div class="demo-grid">
	<div class="mw row">
		<div class="large-6">
			<div class="mw segment">
				Large 6
			</div>
		</div>
		<div class="large-6">
			<div class="mw segment">
				Large 6
			</div>
		</div>
	</div>
	<div class="mw row">
		<div class="large-4">
			<div class="mw segment">
				Large 4
			</div>
		</div>
		<div class="large-4">
			<div class="mw segment">
				Large 4
			</div>
		</div>
		<div class="large-4">
			<div class="mw segment">
				Large 4
			</div>
		</div>
	</div>
	<div class="mw row">
		<div class="large-3">
			<div class="mw segment">
				Large 3
			</div>
		</div>
		<div class="large-3">
			<div class="mw segment">
				Large 3
			</div>
		</div>
		<div class="large-3">
			<div class="mw segment">
				Large 3
			</div>
		</div>
		<div class="large-3">
			<div class="mw segment">
				Large 3
			</div>
		</div>
	</div>
	<div class="mw row">
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
	</div>
</div>
<!-- /.docs.grid -->