<!-- docs.buttons -->
<div id="docs.buttons" class="mw row">
	<div class="large-12 small-12">
		<h4>Buttons</h4>

		<h5>Button Styles</h5>

		<table class="mw table fluid">
			<thead>
				<tr>
					<th>Button</th>
					<th>Class</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<a href="#" class="mw button">Button</a>
					</td>
					<td><code>.mw.button</code></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="#" class="mw button primary">Primary</a>
					</td>
					<td><code>.mw.button.primary</code></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="#" class="mw button secondary">Secondary</a>
					</td>
					<td><code>.mw.button.secondary</code></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="#" class="mw button tertiary">Tertiary</a>
					</td>
					<td><code>.mw.button.tertiary</code></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<h5>Button Sizes</h5>
		<p>Minnow button sizes effect the padding and line-height. They do not alter the font size of the buttons. To change the font sizes use the <code>.font-size-*</code> classes.</p>

		<table class="mw table fluid">
			<thead>
				<tr>
					<th>Button</th>
					<th>Class</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<a href="#" class="mw button micro">Button</a>
					</td>
					<td><code>.mw.button.micro</code></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="#" class="mw button tiny">Button</a>
					</td>
					<td><code>.mw.button.tiny</code></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="#" class="mw button small">Button</a>
					</td>
					<td><code>.mw.button.small</code></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="#" class="mw button medium">Button</a>
					</td>
					<td><code>.mw.button.medium</code></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="#" class="mw button large">Button</a>
					</td>
					<td><code>.mw.button.large</code></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="#" class="mw button xl">Button</a>
					</td>
					<td><code>.mw.button.xl</code></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="#" class="mw button xxl">Button</a>
					</td>
					<td><code>.mw.button.xxl</code></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="#" class="mw button xxxl">Button</a>
					</td>
					<td><code>.mw.button.xxxl</code></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<a href="#" class="mw button huge">Button</a>
					</td>
					<td><code>.mw.button.huge</code></td>
					<td></td>
				</tr>
			</tbody>
		</table>

		<h5>Fluid Width Buttons</h5>

		<p>Use <code>.mw.button.fluid</code> to make the button span the full-width of its container.</p>

		<a href="#" class="mw button fluid">Fluid Button</a>

	</div>
</div>
<!-- /docs.buttons -->