<!-- .docs.type -->
<div id="docs.type" class="mw row">
	<div class="small-12 large-12">
		<h4>Typography</h4>

		<div class="mw row">
			<div class="large-6 small-12">
				<h1>Heading One</h1>
				<h2>Heading Two</h2>
				<h3>Heading Three</h3>
				<h4>Heading Four</h4>
				<h5>Heading Five</h5>
				<h6>Heading Six</h6>
			</div>
			<div class="large-6 small-12">
				<a href="#"><h1>H1 Link</h1></a>
				<a href="#"><h2>H2 Link</h2></a>
				<a href="#"><h3>H3 Link</h3></a>
				<a href="#"><h4>H4 Link</h4></a>
				<a href="#"><h5>H5 Link</h5></a>
				<a href="#"><h6>H6 Link</h6></a>
			</div>
		</div>

		<div class="mw row">
			<div class="large-6 small-12">
				<h4>Unordered List</h4>
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet
						<ul>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Lorem ipsum dolor sit amet</li>
						</ul>
					</li>
					<li>Lorem ipsum dolor sit amet</li>
				</ul>

				<h4>Plain List</h4>
				<ul class="plain">
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
				</ul>
			</div>
			<div class="large-6 small-12">
				<h4>Ordered List</h4>
				<ol>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet
						<ol>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Lorem ipsum dolor sit amet</li>
						</ol>
					</li>
					<li>Lorem ipsum dolor sit amet</li>
				</ol>

				<h4>Inline List</h4>
				<ul class="inline">
					<li>Item 1</li>
					<li>Item 2</li>
					<li>Item 3</li>
					<li>Item 4</li>
				</ul>
			</div>
		</div>

		<div class="mw row">
			<div class="large-6 small-12">
				<h4>Definition List</h4>
				<dl>
					<dt>Definition Term</dt>
					<dd>Definition Description</dd>
					<dt>Definition Term</dt>
					<dd>Definition Description</dd>
					<dt>Definition Term</dt>
					<dd>Definition Description</dd>
				</dl>
			</div>
			<div class="large-6 small-12">
				
			</div>
		</div>
	</div>
</div>
<!-- /.docs.type -->