<!-- docs.buttons -->
<div id="docs.buttons" class="mw row">
	<div class="large-12 small-12">
				<h4>Buttons</h4>

		<a href="#" class="mw button">Click Here</a>
		<a href="#" class="mw button primary">Click Here</a>
		<a href="#" class="mw button secondary">Click Here</a>
		<a href="#" class="mw button tertiary">Click Here</a>

		<a href="#" class="mw button fluid">Click Here</a>

		<a href="#" class="mw button micro">Click Here</a>
		<a href="#" class="mw button tiny">Click Here</a>
		<a href="#" class="mw button small">Click Here</a>
		<a href="#" class="mw button medium">Click Here</a>
		<a href="#" class="mw button large">Click Here</a>
		<a href="#" class="mw button xl">Click Here</a>
		<a href="#" class="mw button xxl">Click Here</a>
		<a href="#" class="mw button xxxl">Click Here</a>
		<a href="#" class="mw button huge">Click Here</a>
	</div>
</div>
<!-- /docs.buttons -->