// * BUTTON EXTRAS *
// --------------------------------------------------

// DEFAULT VARIABLES
//
// DO NOT ALTER
// --------------------------------------------------

$all-button-styles: (
	( "primary", $color-primary ),
	( "secondary", $color-secondary ),
	( "tertiary", $color-tertiary ),
	( "success", $color-success ),
    ( "info", $color-info ),
    ( "warning", $color-warning ),
    ( "alert", $color-alert )
);


// FUNCTIONS
// --------------------------------------------------


// MIXINS
// --------------------------------------------------

@mixin button-outline($color: $color-primary, $border-thickness: 3px) {
	background-color: transparent;
	border: $border-thickness $color solid;
	color: $color;
}


// STYLE
// --------------------------------------------------

.#{$ui-prefix}-button {
    &.success 	{ @include button-style($color-success); }
    &.info      { @include button-style($color-info); }
    &.warning   { @include button-style($color-warning); }
    &.alert     { @include button-style($color-alert); }

    &.outline {
    	@include button-outline;
    }

    @each $style in $all-button-styles {
        $name: nth($style, 1);
        $color: nth($style, 2);

        &.outline.#{$name} {
            @include button-outline($color);
        }
    }
}
