// * DEVICES *
// --------------------------------------------------

// DEFAULT VARIABLES
//
// DO NOT ALTER!!!
// --------------------------------------------------

$device-base-size: $base-font-size !default;

$device-micro:	240px !default; 	// 240px
$device-tiny:	320px !default; 	// 320px
$device-small:	480px !default; 	// 480px
$device-medium:	768px !default; 	// 768px
$device-large:	1024px !default;	// 1024px
$device-xl:		1280px !default;	// 1280px

// Visibility Control
//
// Determines whether or not to include show/hide classes.

$visibility: true !default;

$visibility-show-class: "show-for" !default;
$visibility-hide-class: "hide-for" !default;
$visibility-only-class: "only" !default;

$screen: "only screen" !default;

$micro-up: "#{$screen} and (min-width: #{rem($device-micro)})" !default;
$micro-down: "#{$screen} and (max-width: #{query-down($device-tiny)})" !default;
$micro-only: "#{$screen} and (min-width: #{rem($device-micro)}) and (max-width: #{query-down($device-tiny)})" !default;

$tiny-up: "#{$screen} and (min-width: #{rem($device-tiny)})" !default;
$tiny-down: "#{$screen} and (max-width: #{query-down($device-small)})" !default;
$tiny-only: "#{$screen} and (min-width: #{rem($device-tiny)}) and (max-width: #{query-down($device-small)})" !default;

$small-up: "#{$screen} and (min-width: #{rem($device-small)})" !default;
$small-down: "#{$screen} and (max-width: #{query-down($device-medium)})" !default;
$small-only: "#{$screen} and (min-width: #{rem($device-small)}) and (max-width: #{query-down($device-medium)})" !default;

$medium-up: "#{$screen} and (min-width: #{rem($device-medium)})" !default;
$medium-down: "#{$screen} and (max-width: #{query-down($device-large)})" !default;
$medium-only: "#{$screen} and (min-width: #{rem($device-medium)}) and (max-width: #{query-down($device-large)})" !default;

$large-up: "#{$screen} and (min-width: #{rem($device-large)})" !default;
$large-down: "#{$screen} and (max-width: #{query-down($device-xl)})" !default;
$large-only: "#{$screen} and (min-width: #{rem($device-large)}) and (max-width: #{query-down($device-xl)})" !default;

$xl-up: "#{$screen} and (min-width: #{rem($device-xl)})" !default;

// Visibility

@if $visibility == true {
	@media #{$micro-up} {

		// Show
		
		.#{$ui-prefix}-#{$visibility-show-class}-tiny, 		
		.#{$ui-prefix}-#{$visibility-show-class}-small, 		
		.#{$ui-prefix}-#{$visibility-show-class}-medium,	
		.#{$ui-prefix}-#{$visibility-show-class}-large, 		
		.#{$ui-prefix}-#{$visibility-show-class}-xl 		{ display: none !important; }

		// Hide

		.#{$ui-prefix}-#{$visibility-hide-class}-micro 		{ display: none; }

		.#{$ui-prefix}-#{$visibility-hide-class}-tiny, 		
		.#{$ui-prefix}-#{$visibility-hide-class}-small, 		
		.#{$ui-prefix}-#{$visibility-hide-class}-medium, 	
		.#{$ui-prefix}-#{$visibility-hide-class}-large, 		
		.#{$ui-prefix}-#{$visibility-hide-class}-xl 		{ display: inherit !important; }
	}

	@media #{$micro-only} {

		// Show

		.#{$ui-prefix}-#{$visibility-show-class}-micro.#{$visibility-only-class} 	{ display: inherit !important; }

		.#{$ui-prefix}-#{$visibility-show-class}-tiny.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-small.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-medium.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-large.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-xl.#{$visibility-only-class} 		{ display: none !important; }

		// Hide

		.#{$ui-prefix}-#{$visibility-hide-class}-micro.#{$visibility-only-class} 	{ display: none !important; }
	}

	@media #{$tiny-up} {
		
		// Show

		.#{$ui-prefix}-#{$visibility-show-class}-tiny 		{ display: inherit !important; }

		.#{$ui-prefix}-#{$visibility-show-class}-small,
		.#{$ui-prefix}-#{$visibility-show-class}-medium,
		.#{$ui-prefix}-#{$visibility-show-class}-large,
		.#{$ui-prefix}-#{$visibility-show-class}-xl 		{ display: none !important; }

		// Hide

		.#{$ui-prefix}-#{$visibility-hide-class}-tiny 		{ display: none !important; }

		.#{$ui-prefix}-#{$visibility-hide-class}-small,
		.#{$ui-prefix}-#{$visibility-hide-class}-medium,
		.#{$ui-prefix}-#{$visibility-hide-class}-large,
		.#{$ui-prefix}-#{$visibility-hide-class}-xl 		{ display: inherit !important; }
	}

	@media #{$tiny-only} {

		// Show

		.#{$ui-prefix}-#{$visibility-show-class}-tiny.#{$visibility-only-class} 	{ display: inherit !important; }

		.#{$ui-prefix}-#{$visibility-show-class}-micro.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-small.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-medium.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-large.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-xl.#{$visibility-only-class} 		{ display: none !important; }

		// Hide

		.#{$ui-prefix}-#{$visibility-hide-class}-tiny.#{$visibility-only-class} 	{ display: none !important; }


	}

	@media #{$small-up} {

		// Show

		.#{$ui-prefix}-#{$visibility-show-class}-small 		{ display: inherit !important; }

		.#{$ui-prefix}-#{$visibility-show-class}-medium, 
		.#{$ui-prefix}-#{$visibility-show-class}-large,	
		.#{$ui-prefix}-#{$visibility-show-class}-xl 		{ display: none !important; }

		// Hide

		.#{$ui-prefix}-#{$visibility-hide-class}-small 		{ display: none !important; }

		.#{$ui-prefix}-#{$visibility-hide-class}-micro,
		.#{$ui-prefix}-#{$visibility-hide-class}-tiny,
		.#{$ui-prefix}-#{$visibility-hide-class}-medium,
		.#{$ui-prefix}-#{$visibility-hide-class}-large,
		.#{$ui-prefix}-#{$visibility-hide-class}-xl 		{ display: inherit !important; }
	}

	@media #{$small-only} {

		// Show

		.#{$ui-prefix}-#{$visibility-show-class}-small.#{$visibility-only-class} 	{ display: inherit !important; }

		.#{$ui-prefix}-#{$visibility-show-class}-micro.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-tiny.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-medium.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-large.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-xl.#{$visibility-only-class} 		{ display: none !important; }

		// Hide

		.#{$ui-prefix}-#{$visibility-hide-class}-small.#{$visibility-only-class} 	{ display: none !important; }
	}

	@media #{$medium-up} {

		// Show

		.#{$ui-prefix}-#{$visibility-show-class}-medium 	{ display: inherit !important; }

		.#{$ui-prefix}-#{$visibility-show-class}-large,
		.#{$ui-prefix}-#{$visibility-show-class}-xl 		{ display: none !important; }

		// Hide
		
		.#{$ui-prefix}-#{$visibility-hide-class}-medium 	{ display: none !important; }

		.#{$ui-prefix}-#{$visibility-hide-class}-micro,
		.#{$ui-prefix}-#{$visibility-hide-class}-tiny,
		.#{$ui-prefix}-#{$visibility-hide-class}-small,
		.#{$ui-prefix}-#{$visibility-hide-class}-medium,
		.#{$ui-prefix}-#{$visibility-hide-class}-large,
		.#{$ui-prefix}-#{$visibility-hide-class}-xl 		{ display: inherit !important; }
	}

	@media #{$medium-only} {

		// Show

		.#{$ui-prefix}-#{$visibility-show-class}-medium.#{$visibility-only-class} 	{ display: inherit !important; }


		.#{$ui-prefix}-#{$visibility-show-class}-micro.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-tiny.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-small.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-large.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-xl.#{$visibility-only-class} 		{ display: none !important; }

		// Hide

		.#{$ui-prefix}-#{$visibility-hide-class}-medium.#{$visibility-only-class} 	{ display: none !important; }
	}

	@media #{$large-up} {

		// Show

		.#{$ui-prefix}-#{$visibility-show-class}-large 		{ display: inherit !important; }

		.#{$ui-prefix}-#{$visibility-show-class}-xl 		{ display: none !important; }

		// Hide

		.#{$ui-prefix}-#{$visibility-hide-class}-large 		{ display: none !important; }

		.#{$ui-prefix}-#{$visibility-hide-class}-micro,
		.#{$ui-prefix}-#{$visibility-hide-class}-tiny,
		.#{$ui-prefix}-#{$visibility-hide-class}-small,
		.#{$ui-prefix}-#{$visibility-hide-class}-medium,
		.#{$ui-prefix}-#{$visibility-hide-class}-xl 		{ display: inherit !important; }


	}

	@media #{$large-only} {

		// Show

		.#{$ui-prefix}-#{$visibility-show-class}-large.#{$visibility-only-class} 	{ display: inherit !important; }

		.#{$ui-prefix}-#{$visibility-show-class}-micro.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-tiny.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-small.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-medium.#{$visibility-only-class} 	{ display: none !important; }

		// Hide

		.#{$ui-prefix}-#{$visibility-hide-class}-large.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-xl.#{$visibility-only-class} 		{ display: none !important; }
	}

	@media #{$xl-up} {

		// Show

		.#{$ui-prefix}-#{$visibility-show-class}-xl 		{ display: inherit !important; }

		// Hide

		.#{$ui-prefix}-#{$visibility-hide-class}-xl 		{ display: none !important; }

		.#{$ui-prefix}-#{$visibility-hide-class}-micro,
		.#{$ui-prefix}-#{$visibility-hide-class}-tiny,
		.#{$ui-prefix}-#{$visibility-hide-class}-small,
		.#{$ui-prefix}-#{$visibility-hide-class}-medium,
		.#{$ui-prefix}-#{$visibility-hide-class}-large 		{ display: inherit !important; }
	}

	@media #{$xl-up} {

		// Show

		.#{$ui-prefix}-#{$visibility-show-class}-xl.#{$visibility-only-class} 		{ display: inherit !important; }

		.#{$ui-prefix}-#{$visibility-show-class}-micro.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-tiny.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-small.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-medium.#{$visibility-only-class},
		.#{$ui-prefix}-#{$visibility-show-class}-large.#{$visibility-only-class} 	{ display: none !important; }

		// Hide

		.#{$ui-prefix}-#{$visibility-hide-class}-xl.#{$visibility-only-class} 		{ display: none !important; }
	}
}