// home.intro 
#home.intro.mw-row
  .large-12.small-12
    p.subheader.font-size-xxl
      | Minnow is a teeny tiny CSS framework for kickstarting your next project. It is meant for developers who do not want everything (
      em and then some
      | ) created for them. Instead you will be given a solid foundation you carry with you from project to project.
    .mw-row.gutterless
      .small-12.large-6
        a.mw-button.fluid.font-size-xl(href='docs.html') Get Started
      .small-12.large-6.align-center
        a.mw-button.secondary.fluid.font-size-xl(href='https://github.com/ulinaaron/minnow-css') View On Github
      .small-12.large-12
        p.align-center Version 0.0.9
    .mw-row.gutterless
      .large-6.small-12.collapse-left
        h4 A Responsive Grid
        p
          | Included is a simple grid that scales for large and small devices. You can use the grid for fluid or fixed-width layouts.
      .large-6.small-12.collapse-right
        h4 Rem units
        p
          | Grid columns, font sizes, padding, margins all use rem units as the standard. Pixel fallbacks are included by default but can easily be disabled.
    .mw-row.gutterless
      .large-6.small-12.collapse-left
        h4 Built with Sass
        p
          | Minnow is assembled with the beautifully powerful
          a(href='http://sass-lang.com/') SCSS syntax.
      .large-6.small-12.collapse-right
        h4 Tons of variables
        p
          | A feature-packed SCSS variable file that can be used for making global changes at a rapid pace.
    h3 So what's missing?
    p
      | In order to keep Minnow as tiny as possible lot of general "CSS Framework" features are not included. There are no Javascript/JQuery dependent modules. Variations for core modules are excluded but can easily be created by the extensive nature of the framework. There is plans to create extensive features in the future and include them as optional add-ons.
// home.intro 
