{% block title %}Minnow CSS{% endblock %}
{% block styles %}
{% endblock %}
{% block content %} 
<div class="mw row">
	<div class="large-12 small-12">
		<h1>Minnow CSS</h1>
		<p class="subheader font-size-xxl">Minnow is a teeny tiny CSS framework for kickstarting your next project. It is meant for developers who do not want everything (<em>and then some</em>) created for them. Instead you will be given a solid foundation you carry with you from project to project.</p>

		<div class="mw row gutterless">
			<div class="large-6 small-12 collapse-left">
				<h4>A Responsive Grid</h4>
				<p>Included is a simple grid that scales for large and small devices. You can use the grid for fluid or fixed-width layouts.</p>
			</div>
			<div class="large-6 small-12 collapse-right">
				<h4>Rem units</h4>
				<p>Grid columns, font sizes, padding, margins all use rem units as the standard. Pixel fallbacks are included by default but can easily be disabled.</p>
			</div>
		</div>
		<div class="mw row gutterless">
			<div class="large-6 small-12 collapse-left">
				<h4>Built with Sass</h4>
				<p>Minnow is assembled with the beautifully powerful <a href="http://sass-lang.com/">SCSS syntax.</a></p>
			</div>
			<div class="large-6 small-12 collapse-right">
				<h4>Tons of variables</h4>
				<p>A feature-packed SCSS variable file that can be used for making global changes at a rapid pace.</p>
			</div>
		</div>

		<h3>So what's missing?</h3>
		<p>In order to keep Minnow as tiny as possible lot of general "CSS Framework" features are not included. There are no Javascript/JQuery dependent modules. Variations for core modules are excluded but can easily be created by the extensive nature of the framework. There is plans to create extensive features in the future and include them as optional add-ons.</p>

		<hr>

		<h4>Typography</h4>

		<div class="mw row">
			<div class="large-6 small-12">
				<h1>Heading One</h1>
				<h2>Heading Two</h2>
				<h3>Heading Three</h3>
				<h4>Heading Four</h4>
				<h5>Heading Five</h5>
				<h6>Heading Six</h6>
			</div>
			<div class="large-6 small-12">
				<a href="#"><h1>H1 Link</h1></a>
				<a href="#"><h2>H2 Link</h2></a>
				<a href="#"><h3>H3 Link</h3></a>
				<a href="#"><h4>H4 Link</h4></a>
				<a href="#"><h5>H5 Link</h5></a>
				<a href="#"><h6>H6 Link</h6></a>
			</div>
		</div>

		<div class="mw row">
			<div class="large-6 small-12">
				<h4>Unordered List</h4>
				<ul>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet
						<ul>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Lorem ipsum dolor sit amet</li>
						</ul>
					</li>
					<li>Lorem ipsum dolor sit amet</li>
				</ul>

				<h4>Plain List</h4>
				<ul class="plain">
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
				</ul>
			</div>
			<div class="large-6 small-12">
				<h4>Ordered List</h4>
				<ol>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet</li>
					<li>Lorem ipsum dolor sit amet
						<ol>
							<li>Lorem ipsum dolor sit amet</li>
							<li>Lorem ipsum dolor sit amet</li>
						</ol>
					</li>
					<li>Lorem ipsum dolor sit amet</li>
				</ol>

				<h4>Inline List</h4>
				<ul class="inline">
					<li>Item 1</li>
					<li>Item 2</li>
					<li>Item 3</li>
					<li>Item 4</li>
				</ul>
			</div>
		</div>

		<div class="mw row">
			<div class="large-6 small-12">
				<h4>Definition List</h4>
				<dl>
					<dt>Definition Term</dt>
					<dd>Definition Description</dd>
					<dt>Definition Term</dt>
					<dd>Definition Description</dd>
					<dt>Definition Term</dt>
					<dd>Definition Description</dd>
				</dl>
			</div>
			<div class="large-6 small-12">
				
			</div>
		</div>

		<h4>Buttons</h4>

		<a href="#" class="mw button">Click Here</a>
		<a href="#" class="mw button primary">Click Here</a>
		<a href="#" class="mw button secondary">Click Here</a>
		<a href="#" class="mw button tertiary">Click Here</a>

		<a href="#" class="mw button fluid">Click Here</a>

		<a href="#" class="mw button micro">Click Here</a>
		<a href="#" class="mw button tiny">Click Here</a>
		<a href="#" class="mw button small">Click Here</a>
		<a href="#" class="mw button medium">Click Here</a>
		<a href="#" class="mw button large">Click Here</a>
		<a href="#" class="mw button xl">Click Here</a>
		<a href="#" class="mw button xxl">Click Here</a>
		<a href="#" class="mw button xxxl">Click Here</a>
		<a href="#" class="mw button huge">Click Here</a>
	</div>
</div>
<div class="mw row">
	<div class="large-12 small-12">
		<h4>Segments</h4>
		<p>These are seperations of content, commonly referred to as panels.</p>

		<table class="mw table fluid">
	        <thead>
	            <tr>
	                <th>Class</th>
	                <th>Description</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td><code>.mw.segment</code></td>
	                <td>Add this class to a <code>&lt;div&gt;</code> element to define the segment component.</td>
	            </tr>
	        </tbody>
    	</table>
	</div>
</div>
<div class="mw row">
	<div class="large-12 small-12">
		<div class="mw segment">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, enim, dolores nisi ratione velit quos officia molestiae adipisci fuga illo tempora aliquid nesciunt fugit consequatur asperiores inventore odit magni obcaecati optio pariatur. Nobis, quos, perspiciatis libero quam praesentium sapiente eligendi.
			</p>
		</div>
	</div>
</div>
<div class="mw row">
	<div class="large-12">
		<h4>Grid</h4>

		<p>The Minnow grid is small yet highly powerful. It is responsive and can be used in full-width fluid layouts. If you would like to have a fixed-width container you can use the <code>.mw.wrapper</code> classes.</p> Columns can also be nested but the inner-gutters will not be cleared automatically.

		<table class="mw table fluid">
	        <thead>
	            <tr>
	                <th>Class</th>
	                <th>Description</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td><code>.mw.row</code></td>
	                <td>Add this class to a <code>&lt;div&gt;</code> element to define the row. Necessary for all columns.</td>
	            </tr>
	            <tr>
	                <td><code>.mw.row.gutterless</code></td>
	                <td>Clears the left and right padding on the first and last columns.</td>
	            </tr>
	        </tbody>
    	</table>
	</div>
</div>
<div class="demo-grid">
	<div class="mw row">
		<div class="large-6">
			<div class="mw segment">
				Large 6
			</div>
		</div>
		<div class="large-6">
			<div class="mw segment">
				Large 6
			</div>
		</div>
	</div>
	<div class="mw row">
		<div class="large-4">
			<div class="mw segment">
				Large 4
			</div>
		</div>
		<div class="large-4">
			<div class="mw segment">
				Large 4
			</div>
		</div>
		<div class="large-4">
			<div class="mw segment">
				Large 4
			</div>
		</div>
	</div>
	<div class="mw row">
		<div class="large-3">
			<div class="mw segment">
				Large 3
			</div>
		</div>
		<div class="large-3">
			<div class="mw segment">
				Large 3
			</div>
		</div>
		<div class="large-3">
			<div class="mw segment">
				Large 3
			</div>
		</div>
		<div class="large-3">
			<div class="mw segment">
				Large 3
			</div>
		</div>
	</div>
	<div class="mw row">
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
		<div class="large-2">
			<div class="mw segment">
				Large 2
			</div>
		</div>
	</div>
</div>
<div class="mw row">
	<div class="large-12 small-12">
		<h4>Visibility Classes</h4>
		<p>Minnow comes packed with quite a few useful visibility classes.</p>

		<h5>Show For Classes</h5>
		<p>The <code>mw.show-for-*</code> classes are used to hide elements from lower query sizes. All query sizes above will be visible.</p>
	
		<table class="mw table fluid">
	        <thead>
	            <tr>
	                <th>Class</th>
	                <th>Micro</th>
	                <th>Tiny</th>
	                <th>Small</th>
	                <th>Medium</th>
	                <th>Large</th>
	                <th>XL</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
					<td><code>.mw.show-for-tiny</code></td>
					<td>Hide</td>
					<td><strong>Show</strong></td>
					<td><strong>Show</strong></td>
					<td><strong>Show</strong></td>
					<td><strong>Show</strong></td>
					<td><strong>Show</strong></td>
	            </tr>
                <tr>
    				<td><code>.mw.show-for-small</code></td>
    				<td>Hide</td>
    				<td>Hide</td>
    				<td><strong>Show</strong></td>
    				<td><strong>Show</strong></td>
    				<td><strong>Show</strong></td>
    				<td><strong>Show</strong></td>
                </tr>
                <tr>
    				<td><code>.mw.show-for-medium</code></td>
    				<td>Hide</td>
    				<td>Hide</td>
    				<td>Hide</td>
    				<td><strong>Show</strong></td>
    				<td><strong>Show</strong></td>
    				<td><strong>Show</strong></td>
                </tr>
                <tr>
    				<td><code>.mw.show-for-large</code></td>
    				<td>Hide</td>
    				<td>Hide</td>
    				<td>Hide</td>
    				<td>Hide</td>
    				<td><strong>Show</strong></td>
    				<td><strong>Show</strong></td>
                </tr>
                <tr>
    				<td><code>.mw.show-for-xl</code></td>
    				<td>Hide</td>
    				<td>Hide</td>
    				<td>Hide</td>
    				<td>Hide</td>
    				<td>Hide</td>
    				<td><strong>Show</strong></td>
                </tr>
	        </tbody>
    	</table>

    	<h5>Show For Only</h5>
    	<p>The <code>.mw.show-for-*.only</code> classes are used to only show elements for the selected query.</p>

    			<table class="mw table fluid">
    		        <thead>
    		            <tr>
    		                <th>Class</th>
    		                <th>Micro</th>
    		                <th>Tiny</th>
    		                <th>Small</th>
    		                <th>Medium</th>
    		                <th>Large</th>
    		                <th>XL</th>
    		            </tr>
    		        </thead>
    		        <tbody>
    		        	<tr>
    						<td><code>.mw.show-for-micro.only</code></td>
    						<td><strong>Show</strong></td>
    						<td>Hide</td>
    						<td>Hide</td>
    						<td>Hide</td>
    						<td>Hide</td>
    						<td>Hide</td>
    		            </tr>
    		            <tr>
    						<td><code>.mw.show-for-tiny.only</code></td>
    						<td>Hide</td>
    						<td><strong>Show</strong></td>
    						<td>Hide</td>
    						<td>Hide</td>
    						<td>Hide</td>
    						<td>Hide</td>
    		            </tr>
    	                <tr>
    	    				<td><code>.mw.show-for-small.only</code></td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	    				<td><strong>Show</strong></td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	                </tr>
    	                <tr>
    	    				<td><code>.mw.show-for-medium.only</code></td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	    				<td><strong>Show</strong></td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	                </tr>
    	                <tr>
    	    				<td><code>.mw.show-for-large.only</code></td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	    				<td><strong>Show</strong></td>
    	    				<td>Hide</td>
    	                </tr>
    	                <tr>
    	    				<td><code>.mw.show-for-xl.only</code></td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	    				<td>Hide</td>
    	    				<td><strong>Show</strong></td>
    	                </tr>
    		        </tbody>
    	    	</table>

    	<h5>Hide For</h5>
    	<p>Elements with the <code>.mw.hide-for-*</code> class will only be hidden for that select query.</p>
    	<p></p>

    			<table class="mw table fluid">
    		        <thead>
    		            <tr>
    		                <th>Class</th>
    		                <th>Micro</th>
    		                <th>Tiny</th>
    		                <th>Small</th>
    		                <th>Medium</th>
    		                <th>Large</th>
    		                <th>XL</th>
    		            </tr>
    		        </thead>
    		        <tbody>
    		        	 <tr>
    						<td><code>.mw.hide-for-micro</code></td>
    						<td>Hide</td>
    						<td><strong>Show</strong></td>
    						<td><strong>Show</strong></td>
    						<td><strong>Show</strong></td>
    						<td><strong>Show</strong></td>
    						<td><strong>Show</strong></td>
    		            </tr>
    		            <tr>
    						<td><code>.mw.hide-for-tiny</code></td>
    						<td><strong>Show</strong></td>
    						<td>Hide</td>
    						<td><strong>Show</strong></td>
    						<td><strong>Show</strong></td>
    						<td><strong>Show</strong></td>
    						<td><strong>Show</strong></td>
    		            </tr>
    	                <tr>
    	    				<td><code>.mw.hide-for-small</code></td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	    				<td>Hide</td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	                </tr>
    	                <tr>
    	    				<td><code>.mw.hide-for-medium</code></td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	    				<td>Hide</td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	                </tr>
    	                <tr>
    	    				<td><code>.mw.hide-for-large</code></td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	    				<td>Hide</td>
    	    				<td><strong>Show</strong></td>
    	                </tr>
    	                <tr>
    	    				<td><code>.mw.hide-for-xl</code></td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	    				<td><strong>Show</strong></td>
    	    				<td>Hide</td>
    	                </tr>
    		        </tbody>
    	    	</table>
	</div>
</div>
{% endblock %}