{% block title %}Minnow CSS{% endblock %}
{% block content %} 
<div class="mw-row">
	<div class="large-8">
		<h1>Minnow CSS</h1>
		<p>Minnow is a small CSS framework meant for kickstarting your next project.</p>

		<h3>So what's missing?</h3>
		<p>In order to keep Minnow small a lot of general "CSS Framework" features are not included. There is plans to create extensive features in the future.</p>

		<a href="#" class="mw-button">Click Here</a>
		<a href="#" class="mw-button primary">Click Here</a>
		<a href="#" class="mw-button secondary">Click Here</a>
		<a href="#" class="mw-button tertiary">Click Here</a>
		<a href="#" class="mw-button success">Click Here</a>
		<a href="#" class="mw-button warning">Click Here</a>
		<a href="#" class="mw-button alert">Click Here</a>
		<a href="#" class="mw-button info">Click Here</a>
	</div>
	<div class="large-4">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, obcaecati, odit, eligendi, voluptate doloremque ipsam consequatur amet incidunt excepturi praesentium quia eius fuga maiores odio inventore ab ad! Accusamus, ipsa, repellendus quidem magnam placeat cum doloribus aspernatur tempore tenetur provident id tempora a eius eligendi porro officiis dignissimos consequuntur eum possimus saepe fugit quas architecto incidunt magni natus? Doloremque, nulla, quibusdam corporis illum minima sit vero ab ducimus asperiores nemo eaque ullam aspernatur obcaecati voluptatem repudiandae necessitatibus temporibus quo voluptas modi sunt odio perferendis adipisci eum accusantium quisquam velit ea placeat quia iure nesciunt? Quod, est ea ipsam fugit animi!
	</div>
</div>
<div class="mw-row">
	<div class="large-2">wut</div>
	<div class="large-2"></div>
	<div class="large-2"></div>
	<div class="large-2"></div>
	<div class="large-2"></div>
	<div class="large-2"></div>
</div>
{% endblock %}