// docs.forms 
#docs.forms.mw.row
  .large-12.small-12
    h4 Forms
    // Stacked Form 
    form.mw.form-stacked(action='#')
      .form-group
        label(for='name') Username
        input#name(type='text')
      .form-group
        label(for='password') Password
        input#password(type='password')
      .form-item
        input(type='submit')
    // Stacked Form 
    // Aligned Form 
    form.mw.form-aligned(action='#')
      .form-group
        label(for='name') Username
        input#name(type='text')
      .form-group
        label(for='password') Password
        input#password(type='password')
      .form-item
        input.button(type='submit')
    // Aligned Form 
// docs.forms 
