// * BASE *
// --------------------------------------------------

// DEFAULT VARIABLES
//
// DO NOT ALTER!!!
// --------------------------------------------------

$ui-prefix:         "mw-" !default;

// THEME COLORS
// -------------------------

$color-primary: 		#8fa1b3 !default;
$color-secondary: 	#b48ead !default;
$color-tertiary: 		#ab7967 !default;

$color-success: 		#a3be8c !default;
$color-warning: 		#d08770 !default;
$color-alert: 			#bf616a !default;
$color-info: 			  #96b5b4 !default;

$color-light: 			#c0c5ce !default;
$color-lighter: 		#dfe1e8 !default;
$color-lightest: 		#eff1f5 !default;
$color-medium: 			#65737e !default;
$color-dark: 			  #4f5b66 !default;
$color-darker: 			#343d46 !default;
$color-darkest: 		#2b303b !default;

// BASE
// -------------------------

$base-font-precent: 100% !default;
$base-line-height: 	1.5 !default;
$base-rem:          16px !default;
$base-font-size: 		16px !default;
$base-font-family: 	Arial, Helvetica, sans-serif !default;
$base-font-color: 	$color-darker !default;
$base-fallback-px:  true !default;
$base-background-color: $color-lightest !default;

$base-radius: 6px !default;
$base-oval: 9999px !default;

// LINKS
// -------------------------

$link-color: $color-primary !default;
$link-color-hover: darken($color-primary, 20) !default;
$link-transitions: true !default;


// MIXINS
// --------------------------------------------------

// Group
//
// This is used to clear floats. 
// Commonly known as a clearfix.

@mixin group {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

// Box Sizing
//
// Used to properly control widths of elements

@mixin box-sizing($type: border-box) {
  box-sizing: $type;
}

// Rem Property Mixin
//
// Creates properties with a rem value using a pixel value input.
// You can selectively choose to include a property fallback with a pixel value.
// The fallback inclusion can be globaly set via the $base-fallback-px variable.

@mixin rem($property, $px, $fallback: $base-fallback-px) {

  // If fallback is true
  //
  // Does not require a list if multiple units

  @if $fallback == true {
    #{$property}: $px;
  }
  
  // If only one numeric pixel value

  @if type-of($px) == "number" {
    #{$property}: rem($px);
  }

  // If there is multiple pixel values

  @else {

    // Empty list for multiple $px values
    $px-values: ();

    @each $value in $px {

      @if $value == 0 or type-of( $value ) != "number" {
        $px-values: append($px-values, $value); 
      }

      @else {
        $px-values: append($px-values, rem($value)); 
      }

    }

    // Results from @each $value in $px

    #{$property}: $px-values; 

  }
  
}


// STYLES
// --------------------------------------------------

html {
    font-size: $base-font-precent;
}

body {
	background-color: $base-background-color;
	font-family: $base-font-family;
	color: $color-medium;
  line-height: $base-line-height;
}

// Group / Clearfix

.group {
  @include group;
}

// Global Box Sizing

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// ALIGNMENTS
// -------------------------

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}


// Links
// -------------------------

a {
  color: $link-color;
  text-decoration: none;
  outline: none;

  &:hover, &:focus {
    color: $link-color-hover;
    text-decoration: underline;
  }

  @if $link-transitions == true {
    transition:all .2s linear;
  }
}


// IMAGES
// -------------------------

img, object, embed {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}