// * DEVICES *
// --------------------------------------------------

// DEFAULT VARIABLES
//
// DO NOT ALTER!!!
// --------------------------------------------------

$device-micro:	240 !default;
$device-tiny:	320 !default;
$device-small:	480 !default;
$device-medium:	768 !default;
$device-large:	1024 !default;
$device-xl:		1280 !default;