// * GRID *
// --------------------------------------------------

// DEFAULT VARIABLES
//
// DO NOT ALTER
// --------------------------------------------------

// Prefixes
//
// Allows for resetting class names quickly.

$grid-prefix-row: 		"row" !default;
$grid-prefix-column: 	"column" !default;
$grid-prefix-wrapper: 	"wrapper" !default;

$grid-wrapper-width:    960px !default;
$grid-column-amount: 	12 !default;
$grid-column-gutter: 	20px !default;

// Grid Type Names
//
// Used if you want to change the name.
// Some prefer a shorthand version like .l-# instead of .large-#.

$grid-name-large: "large" !default;
$grid-name-small: "small" !default;

// FUNCTIONS
// --------------------------------------------------

// Column Calculator
//
// This is used to determine how wide a column should be.
// It divides the current column number by the total number of columns.

@function column-calc( $column, $total-columns: $grid-column-amount ) {
	@return ( ($column / $total-columns) * 100% );
}

// MIXINS
// --------------------------------------------------

@mixin row() {
	@include group;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@mixin row-nested() {
	clear: none;
	float: left;
	margin: 0 !important;
}


// STYLE
// --------------------------------------------------

// Wrapper
//
// Used for fixed-width layouts
// Without using a wrapper the grid will default to full-width

.#{$ui-prefix}#{$grid-prefix-wrapper} {
	margin: 0 auto;
	width: rem($grid-wrapper-width);

	@media #{$medium-down} {
		width: 100%;
	}
}


// Grid Row
// -------------------------

.#{$ui-prefix}#{$grid-prefix-row} {
	@include row;

	// Nested Row
	> .#{$ui-prefix}#{$grid-prefix-row} {
		@include row-nested;
	}
}


// Grid Columns
// -------------------------

// Targeting Columns
//
// This is used to set the proper floats for all columns.

.#{$ui-prefix}#{$grid-prefix-row} [class *= "#{$grid-name-large}-"],
.#{$ui-prefix}#{$grid-prefix-row} [class *= "#{$grid-name-small}-"] {
	float: left;
}

// Large Grid

@for $i from 1 through $grid-column-amount {
  .#{$grid-name-large}-#{$i} { 
  	width: column-calc($i); 
  }
}

// Small Grid
@media #{$small-only} {
	@for $i from 1 through $grid-column-amount {
	  .#{$grid-name-small}-#{$i} { 
	  	width: column-calc($i); 
	  }
	}
}