// * TYPOGRAPHY *
// --------------------------------------------------

// DEFAULT VARIABLES
//
// DO NOT ALTER
// --------------------------------------------------

// FONT SIZES
// -------------------------

$font-size-micro: 	ms(10px) !default;
$font-size-tiny: 	ms(12px) !default;
$font-size-small: 	ms(14px) !default;
$font-size-medium: 	ms($base-font-size) !default;
$font-size-large: 	ms(18px) !default;
$font-size-xl: 		ms(20px) !default;
$font-size-xxl: 	ms(22px) !default;
$font-size-xxxl: 	ms(26px) !default;
$font-size-huge: 	ms(32px) !default;


// HEADINGS
// -------------------------

$heading-family: 'Oxygen', sans-serif !default;
$heading-color: $color-alert !default;

// BLOCKQUOTE
// -------------------------

$blockquote-font-family: $base-font-family-alternative !default;
$blockquote-border-left: 4px solid $color-lighter !default;

// CODE
// -------------------------

$code-color: $color-alert !default;
$code-border: 1px solid lighten($color-alert, 20) !default;
$code-background: lighten($color-alert, 42) !default;


// MIXINS
// --------------------------------------------------


// STYLE
// --------------------------------------------------

// HEADINGS
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $heading-color;
	font-family: $heading-family; 
	display: block;
	line-height: 1;
}

h1,
.font-size-huge {
	@include rem('font-size', $font-size-huge);
}

h1 {
	@include rem('margin-top', ms(half($font-size-huge), 2));
	@include rem('margin-bottom', ms(half($font-size-huge), 0));
}

h2,
.font-size-xxxl {
	@include rem('font-size', $font-size-xxxl);
}

h2 {
	@include rem('margin-top', ms(half($font-size-xxxl), 2));
	@include rem('margin-bottom', ms(half($font-size-xxxl), 0));
}

h3,
.font-size-xxl {
	@include rem('font-size', $font-size-xxl);
}

h3 {
	@include rem('margin-top', ms(half($font-size-xxl), 2));
	@include rem('margin-bottom', ms(half($font-size-xxl), 0));
}

h4,
.font-size-xl {
	@include rem('font-size', $font-size-xl);
}

h4 {
	@include rem('margin-top', ms(half($font-size-xl), 2));
	@include rem('margin-bottom', ms(half($font-size-xl), 0));
}

h5,
.font-size-large {
	@include rem('font-size', $font-size-large);
}

h5 {
	@include rem('margin-top', ms(half($font-size-large), 2));
	@include rem('margin-bottom', ms(half($font-size-large), 1));
}

h6,
.font-size-medium {
	@include rem('font-size', $font-size-medium);
}

h6 {
	@include rem('margin-top', ms(half($font-size-medium), 2));
	@include rem('margin-bottom', ms(half($font-size-medium), 1));
}

.font-size-small {
	@include rem('font-size', $font-size-small);
}

.font-size-tiny {
	@include rem('font-size', $font-size-tiny);
}

.font-size-micro {
	@include rem('font-size', $font-size-micro);
}

.subheader {
	font-weight: 300;
}

// GENERAL
// -------------------------

p {
	@include rem('font-size', $base-font-size);
	@include rem('margin-bottom', ms($base-font-size));
}

// Bold 

b,
strong {
	font-weight: bold;
}

// Italic

em,
i,
q {
	font-style: italic;
	line-height: inherit;
}

code {
	@include rem('padding', 0 2px);
	color: $code-color;
	border: $code-border;
	background-color: $code-background;
	white-space: nowrap;
	border-radius: $base-radius;
	display: inline-block;
}

code,
kbd,
pre,
samp {
    @include rem('font-size', ms($font-size-small));

    font-family: monospace, serif;
}

// BLOCKQUOTE
// -------------------------

blockquote {
	font-family: $blockquote-font-family;
	@include rem('padding-left', ms(20px, 0));
	@include rem('margin', 10px ms(40px, 0));
	border-left: $blockquote-border-left;

	cite {
		display: block;
		@include rem('margin', 10px 0 0);
	}

	cite:before {
		content: "-";
		@include rem('padding', 0 10px 0 0);
	}
}

// LISTS
// -------------------------

ul,
ol
{
	@include rem('margin', ms($base-font-size) 0);
	@include rem('padding', 0 0 0 40px);
}

ul ul, ol ol {
	margin: 0;
}

ul {
	list-style-position: outside; 
	list-style-type: disc;
	ul {
		list-style-type: circle;
	}
}

ol {
	list-style-position: outside; 
	list-style-type: decimal;
	ol {
		list-style-type: lower-roman;
	}
}

// Unstyled List

ul.plain, ol.plain {
	padding: 0;
	list-style-type: none;
}

// Inline List

ul.inline, ol.inline {
	padding: 0;
	li {
		display: inline-block;
		@include rem('margin', 0 10px 0 0);
	}
}

// Definition list-style-type: 

dl {
	@include rem('margin', ms($base-font-size) 0);
}

dt {
	font-weight: bold;
}

dd {
	@include rem('margin', ms($base-font-size, -1) 0);
}