// * TYPOGRAPHY *
// --------------------------------------------------

// DEFAULT VARIABLES
//
// DO NOT ALTER
// --------------------------------------------------

// FONT SIZES
// -------------------------

$font-size-micro: 	10px !default;
$font-size-tiny: 	12px !default;
$font-size-small: 	14px !default;
$font-size-medium: 	$base-font-size !default;
$font-size-large: 	18px !default;
$font-size-xl: 		20px !default;
$font-size-xxl: 	22px !default;
$font-size-xxxl: 	30px !default;
$font-size-huge: 	36px !default;

// HEADINGS
// -------------------------

$heading-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !default;
$heading-color: $color-dark !default;


// STYLE
// --------------------------------------------------

// HEADINGS
// -------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	color: $heading-color;
	font-family: $heading-family; 
}

h1 {
	@include rem('font-size', $font-size-huge);
}

h2 {
	@include rem('font-size', $font-size-xxxl);
}

h3 {
	@include rem('font-size', $font-size-xxl);
}

h4 {
	@include rem('font-size', $font-size-xl);
}

h5 {
	@include rem('font-size', $font-size-large);
}

h6 {
	@include rem('font-size', $font-size-medium);
}

// OTHER
// -------------------------

p {
	@include rem('font-size', $base-font-size);
	@include rem('margin-bottom', 16px );
}