// #docs-buttons
#docs-buttons.mw-row
  .large-12.small-12
    h4 Buttons
    h5 Button Styles
    table.mw-table.fluid
      thead
        tr
          th Button
          th Class
          th Description
      tbody
        tr
          td
            a.mw-button(href='#') Button
          td
            code .mw-button
          td
        tr
          td
            a.mw-button.primary(href='#') Primary
          td
            code .mw-button.primary
          td
        tr
          td
            a.mw-button.secondary(href='#') Secondary
          td
            code .mw-button.secondary
          td
        tr
          td
            a.mw-button.tertiary(href='#') Tertiary
          td
            code .mw-button.tertiary
          td
    h5 Button Sizes
    p
      | Minnow button sizes effect the padding and line-height. They do not alter the font size of the buttons. To change the font sizes use the
      code .font-size-*
      | classes.
    table.mw-table.fluid
      thead
        tr
          th Button
          th Class
          th Description
      tbody
        tr
          td
            a.mw-button.micro(href='#') Button
          td
            code .mw-button.micro
          td
        tr
          td
            a.mw-button.tiny(href='#') Button
          td
            code .mw-button.tiny
          td
        tr
          td
            a.mw-button.small(href='#') Button
          td
            code .mw-button.small
          td
        tr
          td
            a.mw-button.medium(href='#') Button
          td
            code .mw-button.medium
          td
        tr
          td
            a.mw-button.large(href='#') Button
          td
            code .mw-button.large
          td
        tr
          td
            a.mw-button.xl(href='#') Button
          td
            code .mw-button.xl
          td
        tr
          td
            a.mw-button.xxl(href='#') Button
          td
            code .mw-button.xxl
          td
        tr
          td
            a.mw-button.xxxl(href='#') Button
          td
            code .mw-button.xxxl
          td
        tr
          td
            a.mw-button.huge(href='#') Button
          td
            code .mw-button.huge
          td
    h5 Fluid Width Buttons
    p
      | Use
      code .mw-button.fluid
      | to make the button span the full-width of its container.
    a.mw-button.fluid(href='#') Fluid Button
// #docs-buttons
