ul.mw-menu.stacked.pill
	li
		a(href='docs.html') Getting Started
	li
		a(href='docs-typography.html') Typography
	li
		a(href='docs-buttons.html') Buttons
	li
		a(href='docs-segments.html') Segments
	li
		a(href='docs-forms.html') Forms
	li
		a(href='docs-grids.html') Grids
	li
		a(href='docs-utilities.html') Utilities
