// #docs-type
#docs-type.mw-row
  .small-12.large-12
    h4 Typography
    .mw-row
      .large-6.small-12
        h1 Heading One
        h2 Heading Two
        h3 Heading Three
        h4 Heading Four
        h5 Heading Five
        h6 Heading Six
      .large-6.small-12
        a(href='#')
          h1 H1 Link
        a(href='#')
          h2 H2 Link
        a(href='#')
          h3 H3 Link
        a(href='#')
          h4 H4 Link
        a(href='#')
          h5 H5 Link
        a(href='#')
          h6 H6 Link
    h4 List Styles
    .mw-row
      .large-6.small-12
        h5 Unordered List
        ul
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li
            | Lorem ipsum dolor sit amet
            ul
              li Lorem ipsum dolor sit amet
              li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
        h5 Plain List
        ul.plain
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
      .large-6.small-12
        h5 Ordered List
        ol
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li
            | Lorem ipsum dolor sit amet
            ol
              li Lorem ipsum dolor sit amet
              li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
        h5 Inline List
        ul.inline
          li Item 1
          li Item 2
          li Item 3
          li Item 4
    .mw-row
      .large-6.small-12
        h5 Definition List
        dl
          dt Definition Term
          dd Definition Description
          dt Definition Term
          dd Definition Description
          dt Definition Term
          dd Definition Description
      .large-6.small-12
    h4 Blockquotes
    blockquote
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam, mollitia, est atque vero aspernatur voluptates error consectetur blanditiis unde voluptate perferendis distinctio obcaecati veniam rem in facere veritatis placeat delectus odit natus dolorum accusamus aperiam eligendi voluptatum laborum ut!
      cite John Doe
// #docs-type
