// #docs-visibility
#docs-visibility.mw-row
  .large-12.small-12
    h4 Visibility Classes
    p Minnow comes packed with quite a few useful visibility classes.
    h5 Show For Classes
    p
      | The
      code mw-show-for-*
      | classes are used to hide elements from lower query sizes. All query sizes above will be visible.
    table.mw-table.fluid
      thead
        tr
          th Class
          th Micro
          th Tiny
          th Small
          th Medium
          th Large
          th XL
      tbody
        tr
          td
            code .mw-show-for-tiny
          td Hide
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td
            strong Show
        tr
          td
            code .mw-show-for-small
          td Hide
          td Hide
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td
            strong Show
        tr
          td
            code .mw-show-for-medium
          td Hide
          td Hide
          td Hide
          td
            strong Show
          td
            strong Show
          td
            strong Show
        tr
          td
            code .mw-show-for-large
          td Hide
          td Hide
          td Hide
          td Hide
          td
            strong Show
          td
            strong Show
        tr
          td
            code .mw-show-for-xl
          td Hide
          td Hide
          td Hide
          td Hide
          td Hide
          td
            strong Show
    h5 Show For Only
    p
      | The
      code .mw-show-for-*.only
      | classes are used to only show elements for the selected query.
    table.mw-table.fluid
      thead
        tr
          th Class
          th Micro
          th Tiny
          th Small
          th Medium
          th Large
          th XL
      tbody
        tr
          td
            code .mw-show-for-micro.only
          td
            strong Show
          td Hide
          td Hide
          td Hide
          td Hide
          td Hide
        tr
          td
            code .mw-show-for-tiny.only
          td Hide
          td
            strong Show
          td Hide
          td Hide
          td Hide
          td Hide
        tr
          td
            code .mw-show-for-small.only
          td Hide
          td Hide
          td
            strong Show
          td Hide
          td Hide
          td Hide
        tr
          td
            code .mw-show-for-medium.only
          td Hide
          td Hide
          td Hide
          td
            strong Show
          td Hide
          td Hide
        tr
          td
            code .mw-show-for-large.only
          td Hide
          td Hide
          td Hide
          td Hide
          td
            strong Show
          td Hide
        tr
          td
            code .mw-show-for-xl.only
          td Hide
          td Hide
          td Hide
          td Hide
          td Hide
          td
            strong Show
    h5 Hide For
    p
      | Elements with the
      code .mw-hide-for-*
      | class will only be hidden for that select query.
    p
    table.mw-table.fluid
      thead
        tr
          th Class
          th Micro
          th Tiny
          th Small
          th Medium
          th Large
          th XL
      tbody
        tr
          td
            code .mw-hide-for-micro
          td Hide
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td
            strong Show
        tr
          td
            code .mw-hide-for-tiny
          td
            strong Show
          td Hide
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td
            strong Show
        tr
          td
            code .mw-hide-for-small
          td
            strong Show
          td
            strong Show
          td Hide
          td
            strong Show
          td
            strong Show
          td
            strong Show
        tr
          td
            code .mw-hide-for-medium
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td Hide
          td
            strong Show
          td
            strong Show
        tr
          td
            code .mw-hide-for-large
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td Hide
          td
            strong Show
        tr
          td
            code .mw-hide-for-xl
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td
            strong Show
          td Hide
// #docs-visibility
