extends layout/sidebar-left

block head
	title Documentation - Minnow CSS

block header
	h1 Minnow CSS
	hr

block content

	include include/docs/intro
	include include/docs/type
	include include/docs/buttons
	include include/docs/segments
	include include/docs/forms
	include include/docs/grid
	include include/docs/visibility
	include include/docs/layouts

block sidebar
	include include/docs/sidebar