extends layout/sidebar-left

block head
	title Documentation - Minnow CSS

block header
	
	include include/document_body_top

block content

	// #docs-grid 
	#docs-grid.mw-row
		.large-12
		h1 Grid
		p
			| The Minnow grid is small yet highly powerful. It is responsive and can be used in full-width fluid layouts. If you would like to have a fixed-width container you can use the
			code .mw-wrapper
			| classes.
		| Columns can also be nested but the inner-gutters will not be cleared automatically.
		table.mw-table.fluid
			thead
				tr
					th Class
					th Description
			tbody
				tr
					td
						code .mw-row
					td
						| Add this class to a 
						code= '<div>'
						|  element to define the row. Necessary for all columns.
				tr
					td
						code .mw-row.gutterless
					td Clears the left and right padding on the first and last columns.
	.demo-grid
		.mw-row
		.large-6
			.mw-segment
				| Large 6
		.large-6
			.mw-segment
				| Large 6
		.mw-row
		.large-4
			.mw-segment
				| Large 4
		.large-4
			.mw-segment
				| Large 4
		.large-4
			.mw-segment
				| Large 4
		.mw-row
		.large-3
			.mw-segment
				| Large 3
		.large-3
			.mw-segment
				| Large 3
		.large-3
			.mw-segment
				| Large 3
		.large-3
			.mw-segment
				| Large 3
		.mw-row
		.large-2
			.mw-segment
				| Large 2
		.large-2
			.mw-segment
				| Large 2
		.large-2
			.mw-segment
				| Large 2
		.large-2
			.mw-segment
				| Large 2
		.large-2
			.mw-segment
				| Large 2
		.large-2
			.mw-segment
				| Large 2
	// #docs-grid

block sidebar
	include include/docs/sidebar