extends layout/sidebar-left

block head
	title Documentation - Minnow CSS

block header

block content

	// #docs-intro 
	#docs-intro.mw-row
		.large-12.small-12
			h1 Getting Started
			p
				| There are a few different options to getting Minnow setup. In the end it really just depends on how you intend to use it. Currently Minnow is released with the Sass (SCSS) source and compiled CSS (Regular &amp; Minified). 

			h4 Download Method
			p
				| If you prefer to install manually you can browse the latest builds on GitHub.

			a.mw-button(href='https://github.com/ulinaaron/minnow-css/releases') Download via Github Releases

			h4  Install via Bower
			p
				| Minnow can also be installed via the Bower Package manager. If you are unsure how to use that, then reference the <a href="http://bower.io">Bower</a> website.
			pre
				code
					| bower install minnow-css 
	// #docs-intro 

block sidebar
	include include/docs/sidebar