extends layout/default

block head
	title Home - Minnow CSS

block header
	header.header
		.mw-wrapper
			.mw-row
				.small-12
					h1.site-title.hero
						a(href="index.html") Minnow CSS
					p.subheader.text-lighter.font-size-xxl
						| Minnow is a teeny tiny CSS framework for kickstarting your next project. It is meant for developers who do not want everything (
						em and then some
						| ) created for them. Instead you will be given a solid foundation you carry with you from project to project.
			.mw-row
				.large-12.small-12
					.mw-row.gutterless
						.small-12.large-6
							a.mw-button.primary.fluid.font-size-xl(href='docs.html') Get Started
						.small-12.large-6.align-center
							a.mw-button.secondary.fluid.font-size-xl(href='https://github.com/ulinaaron/minnow-css') View On Github
						.small-12.large-12
							p.align-center.text-lighter Version 0.0.9

block content

	include include/home/intro
